page-home {

    .fab {
        contain: none;
        overflow: visible;
    }

    .sms-badge {
        position: absolute;
        top: -3px;
        right: -3px;
        border-radius: 100%;
    }

}
